body {
    background-color: pink;
    align-content: center;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}
canvas { 
   border: 3px groove cadetblue;
   margin-top: 100px;
}
button {
    font-size: 23px;
width: 100%;
margin: 0px;
}